<%= render 'shared/flash_message' %>
<% provide(:title, '情報開示状況の一覧') %>
<div class = "container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 company-list">
    <h3> 情報開示状況の一覧</h3>
      <table class="table">
        <tr>
          <th>企業No</th><th>所在地</th><th>業種</th><th>従業員数</th><th>希望条件</th><th>詳細</th><th>状態</th><th>情報開示</th>
        </tr>
          <!-- @companyは現在ログインしているユーザー企業とdisclosureを持つ相手企業の集まり(buyerまたはsellerの配列） -->
          <% @company.each do |company| %>
          <% if current_user.kind == "buyer" then %>
          <!-- companyが持つdisclosureのうちログインユーザー企業とのdisclosure１つを@disclosureに代入 -->
            <% @disclosure = company.disclosures.find{ |n| n.buyer_id == @buyer.id } %>  
          <% elsif current_user.kind == "seller" then %>
            <% @disclosure = company.disclosures.find{ |n| n.seller_id == @seller.id } %>
          <% end %>
            <tr>
              <td><%= company.id %></td>
              <td><%= company.pref %></td>
              <td><%= Industry.where(id: company.industry_id).pluck(:ind_b)[0] %></td>
              <td><%= company.reg %></td>
              <td><%= #company.condition %></td>  <!-- 買希望条件・売希望条件はbuyer、sellerに関連付けか。未実装 -->
                  <% if current_user.kind == "seller" then  %>
                <td><%= link_to '詳細', buyer_path(company) %></td>
                  <% elsif current_user.kind == "buyer" then  %>
                <td><%= link_to '詳細', seller_path(company) %></td>
                  <% end %>

                  <!-- disclosureが保留中、かつ作成者がログインユーザーのkind(buyerまたはseller）だった場合の処理 -->
                  <% if (@disclosure.status == "pending") && (@disclosure.author_kind == current_user.kind ) then %>
              <td>申請中</td>
              <td>  <%= render 'cancel' %></td>    <!-- 申請を取り下げる処理へ -->

                  <!-- disclosureが保留中、かつ作成者がログインユーザーのkind(buyerまたはseller）と一致しない場合の処理 -->
                  <% elsif (@disclosure.status == "pending") && (@disclosure.author_kind != current_user.kind ) then %>
              <td>未承認</td>
              <td>  <%= render 'acceptance' %></td>  <!-- 届いている申請を承認する処理へ -->
              <td>  <%= render 'denial' %></td>  <!-- 届いている申請を否認する処理へ -->

                  <!-- disclosureが承認済みの場合の処理 -->
                  <% elsif (@disclosure.status == "accepted") then %>
              <td>承認済み</td>  
              <td>  <%= render 'denial' %></td>  <!-- 届いている申請は承認済みだが、改めて否認する処理へ -->

                  <!-- disclosureが否認済みの場合の処理 -->
                  <% elsif (@disclosure.status == "denied") then %>
              <td>否認</td>
              <td>  <%= render 'acceptance' %></td>  <!-- 届いている申請は否認済みだが、改めて承認する処理へ -->
                  <% end %>
            </tr>
          <% end %>
      </table>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>