<div>
    <%= link_to "フォローされている数：" , followers_seller_path(@seller) %>
      <strong>
      <%  @followers = @seller.buyers %>
      <%= @followers.count %>
      </strong>
      社
</div>
<div>
  <table class="table">
    <tr>
      <th>ユーザNo.</th><th>企業名</th><th>所在地</th>
    </tr>
    <% @followers.each do |follower| %>
    <tr>
      <td><%= follower.id %></td>
      <td><%= follower.cname %></td>
      <td><%= follower.pref %></td>
    </tr>
    <% end %>
  </table>
</div>