<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>アカウントのロック解除</h3>
    
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <br>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      <br><br>
        <%= f.submit "アカウントのロック解除メールを送る", class: "btn btn-primary" %>
    <% end %>
      <br>
    <%= render "users/shared/links" %>
  </div>
</div>
