<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <br>
    <br>
    <h4>ユーザープロフィール情報</h4>
    <hr>
    <h4>譲渡希望</h4>
    <h5>ユーザー：<%= @user.fname %><%= @user.gname %></h5>    
    <h5>メールアドレス：<%= @user.email %></h5>
　　<br>  
    <div class="btn-group">
  　　<%= link_to "編集", edit_user_registration_path(@user.id), class: "btn btn-success" %>
      <%= link_to "削除", {:controller => "users/registrations", :action => "destroy"}, method: :delete, data: {confirm: '本当に削除しますか？'}, class: "btn btn-success" %>
    </div>
    <hr>
    <h4>譲渡希望企業プロフィール情報</h4>
    <hr>
    <% if @user.sellers.empty? %>
      <h5>まだ登録されていません。</h5>
　　　<%= link_to "売企業登録", new_seller_path, class: "btn btn-primary" %>
    <% else %>
      <h5>企業No：<%= @user.sellers[0].id %></h5>
      <h5>企業名：<%= @user.sellers[0].cname %></h5>
      <br>
      <% @seller = @user.sellers[0] %>
      <div class="form-inline">
        <h5>新規登録</h5>
        <div class="btn-group">
      　　　<%= link_to "基本", new_seller_path(@seller.id), class: "btn btn-success" %>
      　　　<%= link_to "サマリー", new_summary_seller_path(@seller.id), class: "btn btn-success" %>
      　　　<%= link_to "詳細", new_detail_seller_path(@seller.id), class: "btn btn-success" %>
      　　　<%= link_to "削除", @seller, method: :delete, data: {confirm: '本当に削除しますか？'}, class: "btn btn-success" %>
        </div>
      </div>
      <br>
      <div class="form-inline">
        <h5>編集</h5>
        <div class="btn-group">
      　　　<%= link_to "基本", edit_seller_path(@seller.id), class: "btn btn-success" %>
      　　　<%= link_to "サマリー", new_summary_seller_path(@seller.id), class: "btn btn-success" %>
      　　　<%= link_to "詳細", new_detail_seller_path(@seller.id), class: "btn btn-success" %>
        </div>
      </div>
      <br>
      <div class="form-inline">
        <h5>登録確認</h5>
        <div class="btn-group">
      　　　<%= link_to "基本", seller_path(@seller.id), class: "btn btn-success" %>
      　　　<%= link_to "サマリー", show_summary_seller_path(@seller.id), class: "btn btn-success" %>
      　　　<%= link_to "詳細", show_detail_seller_path(@seller.id), class: "btn btn-success" %>
        </div>
　　　</div>

    <% end %>
    <hr>
  <div class="col-md-5">
  
  
  
  
  
  </div>
  <div class="col-md-1">
  </div>
</div>

