<h2>パスワードの変更</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
  </div>
    <br>
    <%= f.label :password_confirmation, "新パスワードの発行" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
   <br>
    <%= f.submit "パスワードの変更", class: "btn btn-primary" %>
<% end %>

<%= render "users/shared/links" %>
