<%= form_for(@buyer.relationships.build) do |f| %>
  <div>
    <%= hidden_field_tag :buyer_id,  @buyer.id %>
    <%= hidden_field_tag :status,  "follow" %>  <!-- フォロー時にrelationshipが作成される -->
    <%= hidden_field_tag :author_kind, "seller" %>  <!--follower_kind(フォローする側の企業属性（buyer、seller））を初期値として設定 -->
  </div>
  <%= f.submit "フォローする", class: "btn btn-success btn-block",
      data: { confirm: "買い手企業にはフォロワー（貴社）の企業情報が開示されます。続けますか？"} %>
<% end %>